<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="">Travel Away</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  routerLink="/viewPackages" class="nav-link" href="#">Packages</a>
      </li>
      <li class="nav-item">
        <a routerLink="/viewVehicles" class="nav-link" href="#">View Vehicles</a>
      </li>
      <li class="nav-item">
        <a routerLink="/viewHotels" class="nav-link" href="#">View Hotels</a>
      </li>
      <li class="nav-item">
        <a routerLink="/viewBookings" class="nav-link" href="#">Bookings</a>
      <!--</li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search Packages by Destination</a>
      </li>-->
      <li class="nav-item">
        <a routerLink="/editProfile" class="nav-link" href="#">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/customerCare"class="nav-link" href="#">Customer Care</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link" href="#">{{firstName}} {{lastName}}</a>
      </li>
      <li class="nav-item">
        <a (click)="logOut()" routerLink="/login" class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
