


<app-customer-layout></app-customer-layout>
<div style="text-align:center;">
  <h1>Packages</h1>
  <br />
  <div class="row">
    <div class="col-md-10" style="text-align:right">
      <label>Filter Package Based on Package Category:</label>
    </div>
    <div class="col-md-2">
      <select class="form-control" #categorydrop (change)="searchPackageByCategory(categorydrop.value)">
        <option value="0">All Categories</option>
        <option *ngFor="let c of categories" value={{c.packageCategoryId}}>
          {{c.packageCategoryName}}
        </option>
      </select>
    </div>
  </div>
</div>
<br />
<div class="container container-fluid" style="border: 4px solid #b0c4de;font-family:'Times New Roman', Times, serif; width:90%" >
  <div class="table-responsive">
    <table class="table table-striped" *ngIf="filteredPackages && filteredPackages.length">
      <tbody>
        <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        </tr>

        <tr *ngFor="let package of filteredPackages" style="background-color:white">
          <td>
            <div class="col">
              <img title="Book Package" style="height:250px; width:400px;"
                   src="assets/{{package.packageId}}.jpg" (click)="viewPackageDetails(package)">
            </div>
          </td>
          <td>
            <div class="col" style="font-size:50px;padding-top:90px">
              {{package.typeOfPackage}}
            </div>
          </td>
          <td>
            <button class="btn btn-link"
                    style="font-size:50px;padding-top:80px"
                    (click)="viewPackageDetails(package)">
              {{package.packageName}}
            </button><br />
            {{package.description}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!--<app-customer-layout></app-customer-layout>
<div style="background-color:yellowgreen" class="myContent">
  <br />
  <div style="text-align:center;">
    <h1>View Packages</h1>
    <br />
    <div class="row">

      <div class="col-md-5"></div>
      <div class="col-md-3"></div>
      <div class="col-sm-2" style="text-align:right;">
        <label><b>Filter purchase:</b></label>
      </div>
      <div class="col-md-2">
        <select class="form-control" #categorydrop (change)="searchPackageByCategory(categorydrop.value)">
          <option value="0">All Categories</option>
          <option *ngFor="let category of categories" value={{category.packageCategoryId}}>
            {{category.packageCategoryName}}
          </option>
        </select>
      </div>
    </div>
    <br />
    <div class="table-responsive">
      <table class="table" style="border:5px solid rgba(220,230,242,1);" *ngIf="filteredPackages && filteredPackages.length">
        <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
          <th style="text-align:center;">Image</th>
          <th style="text-align:center;"></th>
          <th style="text-align:center;">Package Name</th>
          <th style="text-align:center;">Package Description</th>
          <th style="text-align:center;">ViewPackage Details</th>

        </tr>
        <tr *ngFor="let package of filteredPackages" style="background-color:white">

          <td>
            <img src="/assets/{{package.packageId}}.jpg" width="200" height="100" />
          </td>
          <td> {{package.packageName }} </td>
          <td>
            <img src="/assets/{{package.packageId}}.PNG" width="500" height="100" />

          </td>
          <td><button (click)="viewPackageDetails(package.packageId)">ViewPackage</button></td>

        </tr>
      </table>
    </div>
    <div *ngIf="showMsgDiv" style="">
      <h4 class="jumbotron" style="text-align:center;">No Packages available</h4>
    </div>
  </div>
</div>-->
