.container-fluid {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: mediumpurple;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 30%;
}


.btn-primary:hover {
  border-radius: 20px;
  background-color: dimgrey;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.form-gorup {
  text-align: left;
  font-weight: bold;
}
