<!--<div id="Accommodation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">

        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3>Accommodation</h3>
                <small>All fields are mandatory</small>
                <div class="alert alert-danger" *ngIf="MSG">
                  <small>{{MSG}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="AccommodationForm" (submit)="AccommodationFromSubmit(AccommodationForm)">

              <div class="form-group">
                <label for="bookingId">Book Id</label>
                <input id="bookingId" type="number" class="form-control" name="BookingId" formControlName="BookingId" readonly />
              </div>

              <div class="form-group">
                <label for="city">City</label>
                <select id="city" class="form-control" formControlName="City" (change)="GetHotelsByCityNameAndHotelType(AccommodationForm)" required>
                  <option value="">--Select the city--</option>
                  <option *ngFor="let c of cityList" value="{{c}}">{{c}}</option>
                </select>

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.City.errors && (AccommodationForm.controls.City.touched || AccommodationForm.controls.City.dirty)">
                  <small [hidden]="!AccommodationForm.controls.City.errors?.required">This field is required</small>

                </div>
              </div>

              <div class="form-group">
                <label for="rating">Rating</label>
                <select class="form-control" formControlName="HotelType" (change)="GetHotelsByCityNameAndHotelType(AccommodationForm)" required>
                  <option value="">--Select the rating--</option>
                  <option value="2"> 2 Stars</option>
                  <option value="3"> 3 Stars</option>
                  <option value="4"> 4 Stars</option>
                  <option value="5"> 5 Stars</option>
                </select>

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.HotelType.errors && (AccommodationForm.controls.HotelType.touched || AccommodationForm.controls.HotelType.dirty)">
                  <small [hidden]="!AccommodationForm.controls.HotelType.errors?.required">This field is required</small>

                </div>
              </div>

              <div class="form-group">
                <label for="hotel">Hotel</label>
                <select class="form-control" formControlName="HotelName" required>
                  <option value="">--Select the Hotel--</option>
                  <option *ngFor="let h of hotelList" value="{{h.hotelName}}">{{h.hotelName}}</option>

                </select>

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.HotelName.errors && (AccommodationForm.controls.HotelName.touched || AccommodationForm.controls.HotelName.dirty)">
                  <small [hidden]="!AccommodationForm.controls.HotelName.errors?.required">This field is required</small>
                </div>
              </div>

              <div class="form-group">

                <label for="roomtype">Room Type</label>

                <div class="row">
                  <div class="col-6">
                    <input id="singleroom" type="radio" name="RoomType" value="single" formControlName="RoomType" />&nbsp;<label for="singleroom">Single Room</label>
                  </div>
                  <div class="col-6">
                    <input id="doubleroom" type="radio" name="RoomType" value="double" formControlName="RoomType" />&nbsp;<label for="doubleroom">Double Room</label><br />
                  </div>
                  <div class="col-6">
                    <input id="deluxeroom" type="radio" name="RoomType" value="deluxe" formControlName="RoomType" />&nbsp;<label for="deluxeroom">Deluxe Room</label>
                  </div>
                  <div class="col-6">
                    <input id="suiteroom" type="radio" name="RoomType" value="suite" formControlName="RoomType" />&nbsp;<label for="suiteroom">Suite Room</label>
                  </div>
                </div>



                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.RoomType.errors && (AccommodationForm.controls.RoomType.touched || AccommodationForm.controls.RoomType.dirty)">
                  <small [hidden]="!AccommodationForm.controls.RoomType.errors?.required">This field is required</small>

                </div>
              </div>

              <div class="form-group" *ngIf="AccommodationForm.controls.RoomType">
                <label for="numberOfRooms">Number of rooms</label>
                <input id="numberOfRooms" type="number" class="form-control" name="NumberOfRooms" formControlName="NumberOfRooms" min=1 (input)="GetCalculatedEstimateCost(AccommodationForm)" required placeholder="Enter the number of rooms" />

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.NumberOfRooms.errors && (AccommodationForm.controls.NumberOfRooms.touched || AccommodationForm.controls.NumberOfRooms.dirty)">
                  <small [hidden]="!AccommodationForm.controls.NumberOfRooms.errors?.required">This field is required</small>
                  <small [hidden]="!AccommodationForm.controls.NumberOfRooms.errors?.min">Invalid Value</small>
                </div>
              </div>

              <div class="form-group">
                <label for="estimatedCost">Estimated cost</label>
                <input id="estimatedCost" type="text" class="form-control" value="INR {{estimatedCost}} " name="bookingId" readonly required />-->
<!--formControlName="Cost"-->
<!--</div>

              <div class="form-group">
                <input id="addDetailsBtn" type="submit" class="btn btn-primary" value="Add Details" [disabled]="!AccommodationForm.valid" />&nbsp;&nbsp;
                <input id="cancleBtn" type="button" class="btn " value="Cancel" (click)="CancelRequest()" />
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>-->


<app-customer-layout></app-customer-layout>
<div id="Accommodation">
  <div class="container-fluid" style="background-color:lightsteelblue;">
    <div class="row justify-content-center">
      <div class="col-md-4">

        <div class="card" style="background-color:transparent;height:100%">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3>Accommodation</h3>
                <small>All fields are mandatory</small>
                <div class="alert alert-danger" *ngIf="MSG">
                  <small>{{MSG}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="AccommodationForm" (submit)="AccommodationFromSubmit(AccommodationForm)">

              <div class="form-group" style=" text-align: left; font-weight: bold;">
                <label for="bookingId">Book Id</label>
                <input id="bookingId" type="number" class="form-control" name="BookingId" formControlName="BookingId" readonly />
              </div>

              <div class="form-group" style=" text-align: left; font-weight: bold;">
                <label for="city">City</label>
                <select id="city" class="form-control" formControlName="City" (change)="GetHotelsByCityNameAndHotelType(AccommodationForm)" required>
                  <option value="">--Select the city--</option>
                  <option *ngFor="let c of cityList" value="{{c}}">{{c}}</option>
                </select>

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.City.errors && (AccommodationForm.controls.City.touched || AccommodationForm.controls.City.dirty)">
                  <small [hidden]="!AccommodationForm.controls.City.errors?.required">This field is required</small>

                </div>
              </div>

              <div class="form-group" style=" text-align: left; font-weight: bold;">
                <label for="rating">Rating</label>
                <select class="form-control" formControlName="HotelType" (change)="GetHotelsByCityNameAndHotelType(AccommodationForm)" required>
                  <option value="">--Select the rating--</option>
                  <option value="2"> 2 Stars</option>
                  <option value="3"> 3 Stars</option>
                  <option value="4"> 4 Stars</option>
                  <option value="5"> 5 Stars</option>
                </select>

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.HotelType.errors && (AccommodationForm.controls.HotelType.touched || AccommodationForm.controls.HotelType.dirty)">
                  <small [hidden]="!AccommodationForm.controls.HotelType.errors?.required">This field is required</small>

                </div>
              </div>

              <div class="form-group" style=" text-align: left; font-weight: bold;">
                <label for="hotel">Hotel</label>
                <select class="form-control" formControlName="HotelName" required>
                  <option value="">--Select the Hotel--</option>
                  <option *ngFor="let h of hotelList" value="{{h.hotelName}}">{{h.hotelName}}</option>

                </select>

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.HotelName.errors && (AccommodationForm.controls.HotelName.touched || AccommodationForm.controls.HotelName.dirty)">
                  <small [hidden]="!AccommodationForm.controls.HotelName.errors?.required">This field is required</small>
                </div>
              </div>

              <div class="form-group" style=" text-align: left;">

                <label for="roomtype" style=" text-align: left; font-weight: bold;">Room Type</label>

                <div class="row">
                  <div class="col-6">
                    <input id="singleroom" type="radio" name="RoomType" value="single" formControlName="RoomType" />&nbsp;<label for="singleroom">Single Room</label>
                  </div>
                  <div class="col-6">
                    <input id="doubleroom" type="radio" name="RoomType" value="double" formControlName="RoomType" />&nbsp;<label for="doubleroom">Double Room</label><br />
                  </div>
                  <div class="col-6">
                    <input id="deluxeroom" type="radio" name="RoomType" value="deluxe" formControlName="RoomType" />&nbsp;<label for="deluxeroom">Deluxe Room</label>
                  </div>
                  <div class="col-6">
                    <input id="suiteroom" type="radio" name="RoomType" value="suite" formControlName="RoomType" />&nbsp;<label for="suiteroom">Suite Room</label>
                  </div>
                </div>



                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.RoomType.errors && (AccommodationForm.controls.RoomType.touched || AccommodationForm.controls.RoomType.dirty)">
                  <small [hidden]="!AccommodationForm.controls.RoomType.errors?.required">This field is required</small>

                </div>
              </div>

              <div class="form-group" style=" text-align: left; font-weight: bold;" *ngIf="AccommodationForm.controls.RoomType">
                <label for="numberOfRooms">Number of rooms</label>
                <input id="numberOfRooms" type="number" class="form-control" name="NumberOfRooms" formControlName="NumberOfRooms" min=1 (input)="GetCalculatedEstimateCost(AccommodationForm)" required placeholder="Enter the number of rooms" />

                <div class="alert alert-danger" *ngIf="AccommodationForm.controls.NumberOfRooms.errors && (AccommodationForm.controls.NumberOfRooms.touched || AccommodationForm.controls.NumberOfRooms.dirty)">
                  <small [hidden]="!AccommodationForm.controls.NumberOfRooms.errors?.required">This field is required</small>
                  <small [hidden]="!AccommodationForm.controls.NumberOfRooms.errors?.min">Invalid Value</small>
                </div>
              </div>

              <div class="form-group" style=" text-align: left; font-weight: bold;">
                <label for="estimatedCost">Estimated cost</label>
                <input id="estimatedCost" type="text" class="form-control" value="INR {{estimatedCost}} " style="padding-bottom:10px" name="bookingId" readonly required /><!--formControlName="Cost"-->
              </div>

              <div class="form-group">
                <input id="addDetailsBtn" type="submit" class="btn btn-primary" value="Add Details" [disabled]="!AccommodationForm.valid" />&nbsp;&nbsp;
                <input id="cancleBtn" type="button" class="btn  btn-primary " value="Cancel" (click)="CancelRequest()" />
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
