

input[type=radio] {
  border: 0px;
  width: 10%;
  height: 1em;
}

.text-form {
  position: absolute;
  top: 5%;
  width: 42%;
  margin-left: 200px;
  color: white;
}

.img-bg img {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-fluid {
  height: 100%;
  width: 100%;
  position: fixed;
}
