

<app-customer-layout></app-customer-layout>
<div class="specs">
  <div class="img-bg">
    <img src="assets/ty.jpg" />
    <div class="text">
      <h1>Book Package</h1><br />
      </div>
    </div>
  <form [formGroup]="bookPackage" (ngSubmit)="SubmitForm(bookPackage)">
    <div class=" text-form">
      <div class="col-md-5" style="background-color:white;padding-top:8px;padding-bottom:10px">
        <div class="form-group">
          <label>Contact Number</label>
          <input type="tel" class="form-control" formControlName="contactNumber" minlength="10" maxlength="10">
          <p *ngIf="bookPackage.controls.contactNumber.errors?.required &&  bookPackage.controls.contactNumber.touched" class="alert alert-danger">This field is required!</p>
          <!--<p *ngIf="bookPackage.controls.contactNumber.errors?.pattern &&  bookPackage.controls.contactNumber.touched" class="alert alert-danger">contact number should be of 10 digit</p>-->
          <p *ngIf="bookPackage.controls.contactNumber.errors?.minlength || bookPackage.controls.contactNumber.errors?.maxlength  &&  bookPackage.controls.contactNumber.touched" class="alert alert-danger">The Contact number should be of proper length!</p>


        </div>
        <div class="form-group">
          <label>Residential Address</label>
          <input type="text" class="form-control" formControlName="address">
          <p *ngIf="bookPackage.controls.address.errors?.required &&  bookPackage.controls.address.touched" class="alert alert-danger">This field is required!</p>
        </div>

        <div class="form-group">
          <label>Date of Travel</label>
          <input type="date" class="form-control" formControlName="dateOftravel">
          <p *ngIf="bookPackage.controls.dateOftravel.errors?.required &&  bookPackage.controls.dateOftravel.touched" class="alert alert-danger">This field is required!</p>
          <p *ngIf="bookPackage.controls.dateOftravel.errors?.CDError &&  bookPackage.controls.dateOftravel.dirty" class="alert alert-danger">
            {{bookPackage.controls.dateOftravel.errors?.CDError.message}}
          </p>
        </div>
        <div class="form-group">
          <label>Adults</label>
          <input type="number" class="form-control" formControlName="adults">
          <p *ngIf="bookPackage.controls.adults.errors?.required &&  bookPackage.controls.adults.touched" class="alert alert-danger">This field is required!</p>
          <p *ngIf="bookPackage.controls.adults.errors?.min &&  bookPackage.controls.adults.touched" class="alert alert-danger">adults should be greater than zero </p>

        </div>
        <div class="form-group">
          <label>Children</label>
          <input type="number" class="form-control" formControlName="children">
          <p *ngIf="bookPackage.controls.children.errors?.required &&  bookPackage.controls.children.touched" class="alert alert-danger">This field is required!</p>
          <p *ngIf="bookPackage.controls.children.errors?.min &&  bookPackage.controls.contactNumber.touched" class="alert alert-danger">children should be greater than or equal to zero </p>

        </div>
        <button type="submit" class="btn btn-primary" style="color:white;margin:auto;display:block"[disabled]="!bookPackage.valid">Book Package</button>
        </div>
      </div>
  </form>
      <br />
      <div>
        {{msg}}
      </div>
    </div>
