

<div *ngIf="commonLayout">
  <app-common-layout></app-common-layout>
</div>
<div *ngIf="customerLayout">
  <app-customer-layout></app-customer-layout>
</div>
<div *ngIf="employeeLayout">
  <app-employee-layout></app-employee-layout>
</div>




<div class="specs">
  <img class="img-bg" src="assets/408006.jpg" />
  <div class="text">
    "


    <h1 style="padding:30px;color:black;text-align:center;">
      Escape Your Robotic Routine.<br />
      And Make Sure To Travel Away With Us!
    </h1>


  </div>
</div>

